body{
	color: black; 
	background: #F1F3F6;
	font-size: 14px; 
	line-height: initial; 
	font-family: Arial, Helvetica, sans-serif; 
}
.card{
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
}
nav{
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.16);
}
/*Main Menu*/

.main_menu .navbar-brand {
	padding-top: 0;
	padding-bottom: 0
}

.main_menu .navbar {
	padding: 0
}

.main_menu .main-menu-item ul li .nav-link {
	color: #000;
	font-size: 14px;
	padding: 35px 25px;
	font-family: roboto, sans-serif;
	text-transform: capitalize;
	line-height: 12px;
	font-weight: 400
}

.main_menu .main-menu-item ul li .nav-link:hover {
	color: #000
}

@media only screen and (min-width:992px) and (max-width:1200px) {
	.main_menu .main-menu-item ul li .nav-link {
		padding: 35px 20px
	}
}



.main_menu .active_color {
	color: #f5790b!important
}

.main_menu a i {
	color: #000;
	position: relative;
	z-index: 1;
	font-size: 15px;
	margin-left: 30px
}
.menu_fixed {
	position: fixed;
	z-index: 9999!important;
	width: 100%;
	box-shadow: 0 10px 15px rgba(0, 0, 0, .05);
	top: 0;
	background-color: #fff
}

.menu_fixed .active_color {
	color: #2f7dfc!important
}

.dropdown .dropdown-menu {
	transition: all .5s;
	overflow: hidden;
	transform-origin: top center;
	transform: scale(1, 0);
	display: block;
	border: 0 solid transparent;
	background-color: #2f7dfc
}

.dropdown .dropdown-menu .dropdown-item {
	font-size: 14px;
	padding: 8px 20px!important;
	color: #fff!important;
	background-color: #2f7dfc;
	text-transform: capitalize
}

.dropdown:hover .dropdown-menu {
	transform: scale(1)
}

@media(max-width:991px) {
	.main_menu {
		padding: 26px 0
	}
	.home_menu .main-menu-item {
		padding-left: 0
	}
	.main_menu .main-menu-item {
		text-align: left!important
	}
	.main_menu .main-menu-item .nav-item {
		padding: 10px 15px!important
	}
	.main_menu .main-menu-item .nav-item .nav-link {
		padding: 5px 15px!important;
		color: #000
	}
	.navbar-collapse {
		z-index: 9999!important;
		position: absolute;
		left: 0;
		top: 50px;
		width: 100%;
		background-color: #fff;
		text-align: center!important
	}
	.dropdown .dropdown-menu {
		transform: scale(1, 0);
		display: none;
		margin-top: 10px
	}
	.dropdown:hover .dropdown-menu {
		transform: scale(1);
		display: block;
		color: #2f7dfc
	}
	.dropdown .dropdown-item:hover {
		color: #2f7dfc!important
	}
	.navbar-brand img {
		max-width: 100px;
		margin: 0 auto;
		position: absolute;
		left: 0;
		right: 0;
		display: inline-block;
		top: 0
	}
	.navbar-light .navbar-toggler {
		border-color: transparent;
		position: absolute;
		left: 0
	}
	.menu_icon i {
		color: #000
	}
	.main_menu a i {
		margin-left: 13px
	}
}

@media(max-width:576px) {
	.main_menu {
		padding: 20px 0
	}
}

@media only screen and (min-width:576px) and (max-width:767px) {
	.main_menu {
		padding: 20px 0
	}
}

.dropdown-menu {
	border: 0 solid rgba(0, 0, 0, .15)!important;
	background-color: #fafafa
}

.dropdown:hover .dropdown-menu {
	display: block
}

.main-menu-item {
	justify-content: center!important
}

/*Slider section*/
.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
.MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
.MultiCarousel .MultiCarousel-inner .item { float: left;}
.MultiCarousel .MultiCarousel-inner .item > div { text-align: center; margin:10px; background:#f1f1f1; color:#666;}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:0; }
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }
.carousel-1{
	background-color: #2980b9;
};

/* hover effect */
.photo {
	width: 350px;
	height:350px;
}
.photo img{
	transition: 1s;
	margin: 10px 0 10px 0;
}
.photo:hover img{
	transform:scale(1.1);
}
.sub-menu >li>a{
	color: black;
}
/********************************Cart css******************/
.outerDiv2{
	height: 80vh;
	overflow:auto;
	-ms-overflow-style: none;  
	scrollbar-width: none;  
}
.outerDiv2::-webkit-scrollbar { 
	display: none;  
}
.placeOorderBbutton{
	position: sticky;
	
	bottom: 1px;
}
